<nav>
  <a routerLink="/">
    <div class="nav-icon">
      <i class="icon ion-md-apps"></i>
    </div>
  </a>
  <a routerLink="/Movies">
    <div class="nav-icon">
      <i class="icon ion-md-rose"></i>
    </div>
  </a>
  <a routerLink="/Series">
    <div class="nav-icon">
      <i class="icon ion-md-leaf"></i>
    </div>
  </a>
</nav>
<section>
  <app-eden-item-form></app-eden-item-form>
  <header>
    <h1>Tecniche di coltivazione</h1>
    <p class="description">Impara nuove tecniche per tenere al meglio le tue piante</p>
  </header>
  <app-eden-items-list></app-eden-items-list>
</section>
